In [64]:
# Import modules
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler
import dask.dataframe as dd
import gc

In [3]:
import pandas as pd

chunk_size = 10000  # Adjust based on memory availability
dfs = []  # List to store processed chunks

for chunk in pd.read_csv('GSE139495_Single_cell_Raw_counts_10252019.tsv', sep="\t", index_col=0, chunksize=chunk_size):
    # Process each chunk (modify as needed)
    chunk = chunk.astype('float32')  # Example: Convert to smaller data type
    dfs.append(chunk)  # Store processed chunk

# Combine chunks into a single DataFrame
df2 = pd.concat(dfs)

In [4]:
# Display info
df2.info()
df2.head(10)

<class 'pandas.core.frame.DataFrame'>
Index: 33538 entries, MIR1302-2HG to FAM231C
Columns: 12341 entries, ACAGCTAAGGGTTCCC to TTTACTGCATCCCACT
dtypes: float32(12341)
memory usage: 1.5+ GB

,ACAGCTAAGGGTTCCC,ACATACGTCATTTGGG,ACATCAGAGTCGTACT,AGAGTGGGTGCAACTT,AGGCCACGTTCGCGAC,AGTGGGACATCCGGGT,ATCACGAGTCCAGTTA,ATCATGGGTCCGACGT,ATTACTCCAGATCTGT,CAAGATCGTCCATCCT,...,TCGGGACAGGACTGGT,TCTATTGAGCCTCGTG,TCTTTCCAGTCTTGCA,TGCCAAAAGCGTCAAG,TGCGGGTTCCTCATTA,TGCTACCTCTCGCATC,TGGCTGGTCGGTGTTA,TTAGGACTCCACGACG,TTGGAACGTCCCTTGT,TTTACTGCATCCCACT
MIR1302-2HG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
FAM138A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
OR4F5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AL627309.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AL627309.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AL627309.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AL627309.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AL732372.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
OR4F29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AC114498.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33538 entries, MIR1302-2HG to FAM231C
Columns: 12341 entries, ACAGCTAAGGGTTCCC to TTTACTGCATCCCACT
dtypes: float32(12341)
memory usage: 1.5+ GB

In [21]:
df2.dtypes

ACAGCTAAGGGTTCCC    float32
ACATACGTCATTTGGG    float32
ACATCAGAGTCGTACT    float32
AGAGTGGGTGCAACTT    float32
AGGCCACGTTCGCGAC    float32
                     ...
TGCTACCTCTCGCATC    float32
TGGCTGGTCGGTGTTA    float32
TTAGGACTCCACGACG    float32
TTGGAACGTCCCTTGT    float32
TTTACTGCATCCCACT    float32
Length: 12341, dtype: object

In [11]:
import pandas as pd

# Define a function to optimize the data types
def optimize_dtypes(df):
    optimized_dtypes = {}
    
    for column in df.columns:
        if df[column].dtype == 'float64':  # If the column is float64, use float32 to save memory
            optimized_dtypes[column] = 'float32'
        elif df[column].dtype == 'int64':  # If the column is int64, use int32 to save memory
            optimized_dtypes[column] = 'int32'
        elif df[column].dtype == 'object':  # If the column is object (strings), we leave it as is or convert to category
            optimized_dtypes[column] = 'category'  # Converting string columns to 'category' saves memory
            
    return optimized_dtypes

# Read the dataset with optimized dtypes
optimized_dtypes = optimize_dtypes(pd.read_parquet("C:/Users/fjrui/OneDrive/Documents/Desktop/Bootcamp/Project 4/Team_BioByte/Capstone/data.parquet"))
df2_clean = pd.read_parquet("C:/Users/fjrui/OneDrive/Documents/Desktop/Bootcamp/Project 4/Team_BioByte/Capstone/data.parquet")

# Display the first few rows to confirm
df2_clean.head()

,ACAGCTAAGGGTTCCC,ACATACGTCATTTGGG,ACATCAGAGTCGTACT,AGAGTGGGTGCAACTT,AGGCCACGTTCGCGAC,AGTGGGACATCCGGGT,ATCACGAGTCCAGTTA,ATCATGGGTCCGACGT,ATTACTCCAGATCTGT,CAAGATCGTCCATCCT,...,TCGGGACAGGACTGGT,TCTATTGAGCCTCGTG,TCTTTCCAGTCTTGCA,TGCCAAAAGCGTCAAG,TGCGGGTTCCTCATTA,TGCTACCTCTCGCATC,TGGCTGGTCGGTGTTA,TTAGGACTCCACGACG,TTGGAACGTCCCTTGT,TTTACTGCATCCCACT
MIR1302-2HG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
FAM138A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
OR4F5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AL627309.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AL627309.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [82]:
# # Define the file path
file_path = r"C:\Users\fjrui\OneDrive\Documents\Desktop\Bootcamp\Project 4\Team_BioByte\Capstone\data.parquet"  # Update with the correct path if needed

# # Load the TSV file into a DataFrame
# df2 = pd.read_csv(file_path, sep="\t", index_col=0)  # Use index_col=0 if the first column contains gene names

# # Display basic info and the first few rows
# #df2.head(10)  # Show first few rows

In [17]:
df2.to_parquet("data.parquet", compression="snappy")

In [25]:
# import pandas as pd

# # Load the Parquet file
# df2 = pd.read_parquet("C:/Users/fjrui/OneDrive/Documents/Desktop/Bootcamp/Project 4/Team_BioByte/Capstone/data.parquet")

# # Display the first few rows
# df2.head(20)

In [27]:
len(df2)

33538

In [29]:
df2.columns

Index(['ACAGCTAAGGGTTCCC', 'ACATACGTCATTTGGG', 'ACATCAGAGTCGTACT',
       'AGAGTGGGTGCAACTT', 'AGGCCACGTTCGCGAC', 'AGTGGGACATCCGGGT',
       'ATCACGAGTCCAGTTA', 'ATCATGGGTCCGACGT', 'ATTACTCCAGATCTGT',
       'CAAGATCGTCCATCCT',
       ...
       'TCGGGACAGGACTGGT', 'TCTATTGAGCCTCGTG', 'TCTTTCCAGTCTTGCA',
       'TGCCAAAAGCGTCAAG', 'TGCGGGTTCCTCATTA', 'TGCTACCTCTCGCATC',
       'TGGCTGGTCGGTGTTA', 'TTAGGACTCCACGACG', 'TTGGAACGTCCCTTGT',
       'TTTACTGCATCCCACT'],
      dtype='object', length=12341)

In [31]:
index_values = df2.index
index_values

Index(['MIR1302-2HG', 'FAM138A', 'OR4F5', 'AL627309.1', 'AL627309.3',
       'AL627309.2', 'AL627309.4', 'AL732372.1', 'OR4F29', 'AC114498.1',
       ...
       'AC007325.2', 'BX072566.1', 'AL354822.1', 'AC023491.2', 'AC004556.1',
       'AC233755.2', 'AC233755.1', 'AC240274.1', 'AC213203.1', 'FAM231C'],
      dtype='object', length=33538)

In [33]:
index_list = df2.index.tolist()

# Print only the first 10 values
print(index_list[:10])

['MIR1302-2HG', 'FAM138A', 'OR4F5', 'AL627309.1', 'AL627309.3', 'AL627309.2', 'AL627309.4', 'AL732372.1', 'OR4F29', 'AC114498.1']

In [35]:
# Sample DataFrame
df2_clean = pd.DataFrame(df2)

# Create a new column "Gen" with the index values
df2_clean['Gen'] = df2.index

# Reset the index to create a new index column
df2_clean = df2.reset_index(drop=False)

df2_clean

,index,ACAGCTAAGGGTTCCC,ACATACGTCATTTGGG,ACATCAGAGTCGTACT,AGAGTGGGTGCAACTT,AGGCCACGTTCGCGAC,AGTGGGACATCCGGGT,ATCACGAGTCCAGTTA,ATCATGGGTCCGACGT,ATTACTCCAGATCTGT,...,TCGGGACAGGACTGGT,TCTATTGAGCCTCGTG,TCTTTCCAGTCTTGCA,TGCCAAAAGCGTCAAG,TGCGGGTTCCTCATTA,TGCTACCTCTCGCATC,TGGCTGGTCGGTGTTA,TTAGGACTCCACGACG,TTGGAACGTCCCTTGT,TTTACTGCATCCCACT
0,MIR1302-2HG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,FAM138A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,OR4F5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AL627309.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AL627309.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33533,AC233755.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33534,AC233755.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33535,AC240274.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33536,AC213203.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33537,FAM231C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
df2_clean["index"].value_counts()

index
MIR1302-2HG    1
DCT            1
GPC6-AS2       1
GPC6           1
AL354811.1     1
              ..
ORC3           1
RARS2          1
SLC35A1        1
AL049697.1     1
FAM231C        1
Name: count, Length: 33538, dtype: int64

In [40]:
cell_counts = df2_clean["index"].value_counts().sort_values(ascending=True)

cell_counts

index
MIR1302-2HG    1
AL627309.2     1
AL627309.4     1
AL732372.1     1
OR4F29         1
              ..
AC213203.1     1
MT-ND6         1
DNMT3L         1
MT-ND4L        1
FAM231C        1
Name: count, Length: 33538, dtype: int64

In [36]:
# Assuming 'df' is your DataFrame and the column you're interested in is named 'patient'
value_counts = df2_clean['index'].value_counts()

# Filter for values that have only one occurrence
values_with_one_count = value_counts[value_counts == 1]

# Print or return the values that occur exactly once
values_with_one_count

index
MIR1302-2HG    1
DCT            1
GPC6-AS2       1
GPC6           1
AL354811.1     1
              ..
ORC3           1
RARS2          1
SLC35A1        1
AL049697.1     1
FAM231C        1
Name: count, Length: 33538, dtype: int64

In [42]:
len(df2_clean)

33538

In [44]:
# # Assuming 'df2_clean' is your original DataFrame
# new_df = df2_clean[df2_clean.index == 0]

# # Display the new dataset
# new_df

In [44]:
# Assuming 'df' is your DataFrame
# First, let's filter the rows where the index value is equal to 1
filtered_df = df2_clean[df2_clean.index == 1]

# Reshape the data into a new DataFrame where the columns contain their respective values
new_dataset = filtered_df.melt(var_name="Column", value_name="Value")

# Print the new dataset
new_dataset

                 Column    Value
0                 index  FAM138A
1      ACAGCTAAGGGTTCCC      0.0
2      ACATACGTCATTTGGG      0.0
3      ACATCAGAGTCGTACT      0.0
4      AGAGTGGGTGCAACTT      0.0
...                 ...      ...
12337  TGCTACCTCTCGCATC      0.0
12338  TGGCTGGTCGGTGTTA      0.0
12339  TTAGGACTCCACGACG      0.0
12340  TTGGAACGTCCCTTGT      0.0
12341  TTTACTGCATCCCACT      0.0

[12342 rows x 2 columns]

In [46]:
print(df2_clean.columns)

Index(['index', 'ACAGCTAAGGGTTCCC', 'ACATACGTCATTTGGG', 'ACATCAGAGTCGTACT',
       'AGAGTGGGTGCAACTT', 'AGGCCACGTTCGCGAC', 'AGTGGGACATCCGGGT',
       'ATCACGAGTCCAGTTA', 'ATCATGGGTCCGACGT', 'ATTACTCCAGATCTGT',
       ...
       'TCGGGACAGGACTGGT', 'TCTATTGAGCCTCGTG', 'TCTTTCCAGTCTTGCA',
       'TGCCAAAAGCGTCAAG', 'TGCGGGTTCCTCATTA', 'TGCTACCTCTCGCATC',
       'TGGCTGGTCGGTGTTA', 'TTAGGACTCCACGACG', 'TTGGAACGTCCCTTGT',
       'TTTACTGCATCCCACT'],
      dtype='object', length=12342)

In [50]:
df_transposed = df2_clean.set_index('index').T.astype(int)
df_transposed

index,MIR1302-2HG,FAM138A,OR4F5,AL627309.1,AL627309.3,AL627309.2,AL627309.4,AL732372.1,OR4F29,AC114498.1,...,AC007325.2,BX072566.1,AL354822.1,AC023491.2,AC004556.1,AC233755.2,AC233755.1,AC240274.1,AC213203.1,FAM231C
ACAGCTAAGGGTTCCC,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ACATACGTCATTTGGG,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ACATCAGAGTCGTACT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AGAGTGGGTGCAACTT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AGGCCACGTTCGCGAC,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TGCTACCTCTCGCATC,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
TGGCTGGTCGGTGTTA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
TTAGGACTCCACGACG,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
TTGGAACGTCCCTTGT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
TTTACTGCATCCCACT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_transposed.head(10)

In [ ]:
import pandas as pd
import pyarrow.parquet as pq

# Function to process the data in chunks
def find_values_equals_one_parquet(file_path, chunk_size=50000):
    # Load the parquet file using pandas
    df = pd.read_parquet(file_path)
    
    # Iterate over the dataframe in chunks
    num_chunks = len(df) // chunk_size  # Determine how many chunks we need
    for chunk_idx in range(num_chunks + 1):  # Include the last partial chunk
        chunk = df[chunk_idx * chunk_size : (chunk_idx + 1) * chunk_size]
        
        # Iterate over each column to find where the values are equal to 1
        for column in chunk.columns:
            mask = chunk[column] == 1  # Apply condition column by column
            
            # Extract rows where the value is 1
            result = chunk[mask]
            
            # If any rows match, yield the index and column name
            if not result.empty:
                yield result.index, column

# Specify your Parquet file path
file_path = r"C:\Users\fjrui\OneDrive\Documents\Desktop\Bootcamp\Project 4\Team_BioByte\Capstone\data.parquet"

# Use the function to process and find 1's in the dataset
for index, column in find_values_equals_one_parquet(file_path):
    print(f"Found value 1 at index: {index} in column: {column}")

Found value 1 at index: Index(['CLEC4E', 'NUDT16L1', 'NTAN1'], dtype='object') in column: ACAGCTAAGGGTTCCC
Found value 1 at index: Index(['PDIA6', 'RPLP2', 'PXMP2', 'ACTG1', 'C5AR2', 'IGLC2', 'MT-ATP6'], dtype='object') in column: ACATACGTCATTTGGG
Found value 1 at index: Index(['PIK3CG', 'CCNB1IP1', 'AC022087.1'], dtype='object') in column: ACATCAGAGTCGTACT
Found value 1 at index: Index(['MT-ND2'], dtype='object') in column: AGAGTGGGTGCAACTT
Found value 1 at index: Index(['HBB'], dtype='object') in column: AGGCCACGTTCGCGAC
Found value 1 at index: Index(['ACTB', 'FTH1'], dtype='object') in column: AGTGGGACATCCGGGT
Found value 1 at index: Index(['S100A8', 'FCGR3B', 'THAP4', 'RPS6', 'MALAT1', 'RPL19', 'RPL13A',
       'IGLC2'],
      dtype='object') in column: ATCACGAGTCCAGTTA
Found value 1 at index: Index(['THG1L', 'HLA-DRA', 'VPS50', 'TPT1', 'RPLP1', 'FAM96B', 'UBA52'], dtype='object') in column: ATCATGGGTCCGACGT
Found value 1 at index: Index(['RPL11', 'CD38'], dtype='object') in column: ATTACTCCAGATCTGT
Found value 1 at index: Index(['HBB'], dtype='object') in column: CAAGATCGTCCATCCT
Found value 1 at index: Index(['YBX1', 'RAB4A', 'RPL32', 'ATP5ME', 'EEF1A1', 'MTDH', 'COX6C', 'TUBA1B',
       'MYL6', 'B2M', 'AARSD1', 'LRRC59', 'USP14', 'HAUS1', 'CST3', 'RPL3',
       'MT-ND2'],
      dtype='object') in column: CACCTTGTCAGAAATG
Found value 1 at index: Index(['PRDX1', 'ARL8A', 'TTLL4', 'NCF1', 'MOSPD3', 'NHS', 'EIF2S3', 'ADCK5',
       'ATP6V1G1', 'SELENOH', 'FAU', 'TCIRG1', 'AP002807.1', 'VIM', 'SFXN3',
       'LYZ', 'AC020656.1', 'ANKLE2', 'SERPINA1', 'IREB2', 'HBA2', 'RFLNB',
       'JMJD6', 'MBP', 'SRSF6', 'MRI1', 'AC008686.1', 'AC020916.1', 'UBA52',
       'UQCRFS1', 'MT-CO1'],
      dtype='object') in column: CAGCCGAAGATGTTAG
Found value 1 at index: Index(['ARPC2', 'HBB', 'FTH1', 'FAU', 'TPT1'], dtype='object') in column: CAGCTGGGTGTATGGG
Found value 1 at index: Index(['STIM1', 'ICAM3', 'PGLS'], dtype='object') in column: CCTTCCCGTACACCGC
Found value 1 at index: Index(['JCHAIN', 'TMSB4X', 'HBB', 'RPS25', 'GAPDH', 'PCBP2', 'ELMSAN1',
       'MRPL27', 'IGLC2'],
      dtype='object') in column: CGCTATCAGCACGCCT
Found value 1 at index: Index(['HEXB', 'CAMLG', 'DDAH2', 'ALG13', 'LYZ', 'AC020656.1', 'HBA2', 'JPT1',
       'MT-CO2'],
      dtype='object') in column: CGTCACTTCAGTTCGA
Found value 1 at index: Index(['RPL30'], dtype='object') in column: CTGTGCTAGCCGTCGT
Found value 1 at index: Index(['BOLA3', 'LUC7L2', 'MALAT1', 'TUBA1B', 'UNC13D', 'FTL', 'IGLC2'], dtype='object') in column: GAAATGAAGGCATGGT
Found value 1 at index: Index(['IFITM2', 'AP2B1', 'GADD45B', 'RPL13A'], dtype='object') in column: GATCGTACACCTCGTT
Found value 1 at index: Index(['TAGLN2', 'PPBP', 'TMSB4X', 'IGHA1', 'HBA2', 'RPS2', 'CD37', 'IGLC2'], dtype='object') in column: GCAAACTGTCCTCCAT
Found value 1 at index: Index(['RACK1', 'HSP90AB1', 'IFITM2', 'HBA2', 'POLR2F'], dtype='object') in column: GCTGGGTTCCTTTACA
Found value 1 at index: Index(['HBB', 'PTPN6', 'PPIB', 'RPL13', 'C1QBP', 'FTL'], dtype='object') in column: GCTTCCATCCTTTACA
Found value 1 at index: Index(['RPL31', 'HLA-DRB1', 'RPS3', 'PSPC1', 'CDK10'], dtype='object') in column: GGCCGATGTTGCGCAC
Found value 1 at index: Index(['S100A8', 'HSPE1', 'RPS3A', 'FTH1'], dtype='object') in column: GGTATTGGTCGCGTGT
Found value 1 at index: Index(['GLUL', 'ATF1', 'PAPOLA'], dtype='object') in column: GTACTTTTCGCTGATA
Found value 1 at index: Index(['THEMIS2', 'NBEAL2', 'RPL10A', 'ASL', 'SORL1', 'RPL13A'], dtype='object') in column: GTCACAAAGTACCGGA
Found value 1 at index: Index(['MALAT1', 'IGLV3-21'], dtype='object') in column: GTCGGGTGTCCCTTGT
Found value 1 at index: Index(['TMEM208', 'KHSRP'], dtype='object') in column: GTCTTCGGTCTCTTAT
Found value 1 at index: Index(['IGKC'], dtype='object') in column: TAGACCACACGGTGTC
Found value 1 at index: Index(['S100A8', 'RPL41', 'NHLRC4', 'CHD9', 'ACTG1', 'IGLC2'], dtype='object') in column: TATTACCGTACTCAAC
Found value 1 at index: Index(['RPS8', 'RPL24', 'RPL10', 'ADD3', 'VPS36', 'IGHA1', 'RPL23A', 'RPS16',
       'FTL', 'SNRNP70', 'RPL28'],
      dtype='object') in column: TCGCGTTTCATCTGCC
Found value 1 at index: Index(['HMGN2', 'PTMA', 'SSRP1', 'FMNL1', 'IGLC2'], dtype='object') in column: TGACAACCAGCCTATA
Found value 1 at index: Index(['RPL22', 'HMGN2', 'SYTL1', 'S100A10', 'RPS27', 'TAGLN2', 'KLHL20',
       'GUK1', 'GCFC2', 'LIMS1', 'PTMA', 'SETD5', 'PARP9', 'LETM1', 'ADD1',
       'LINC02267', 'COX7C', 'PGGT1B', 'IK', 'HIGD2A', 'BTN3A2', 'HLA-B',
       'RPS18', 'RPL10A', 'TMED4', 'ZC3HAV1', 'TMSB4X', 'SEPT6', 'RPL10',
       'PPP2R2A', 'LACTB2-AS1', 'EEF1D', 'NUP188', 'RPLP2', 'OGA', 'RPL41',
       'POC1B', 'TPT1', 'RPS29', 'PCNX1', 'AHSA1', 'DENND4A', 'NLRC3', 'IST1',
       'FLOT2', 'MIEN1', 'H3F3B', 'AAR2', 'RPS15', 'QTRT1', 'UBA52', 'ZNF626',
       'FXYD5', 'YIF1B', 'RPS19', 'FTL', 'JOSD2', 'IGLV3-21', 'IGLC2', 'TRABD',
       'MT-ATP6', 'MT-ND3', 'MT-ND4'],
      dtype='object') in column: TGCGCAGCATTTGCCC
Found value 1 at index: Index(['MSL3', 'UXT', 'IGHA1', 'PSMB10', 'OAZ1', 'RPS16', 'IGLC2'], dtype='object') in column: TGGCCAGAGGCAATTA
Found value 1 at index: Index(['LBR', 'RPL32', 'LSM3', 'RPS12', 'PIM2', 'DPP3', 'TMBIM6', 'RPL41',
       'IGHA1', 'B2M', 'EIF2S2', 'HNRNPM'],
      dtype='object') in column: TTAGGACAGCAGGTCA
Found value 1 at index: Index(['TREM1', 'RPL30', 'FTH1', 'CALM1', 'GPX4', 'IFNAR2'], dtype='object') in column: TTAGTTCAGGCAGGTT
Found value 1 at index: Index(['HLA-A', 'RPL10', 'NUTM2A-AS1', 'RPL4', 'FTL'], dtype='object') in column: TTCGGTCTCAGTCCCT
Found value 1 at index: Index(['ISG15', 'SDF4', 'AURKAIP1', 'AL450998.2', 'SDHB', 'MINOS1', 'HP1BP3',
       'SRSF10', 'SH3BGRL3', 'IFI6',
       ...
       'U2AF1L5', 'USP16', 'CCT8', 'CFAP298', 'CRYZL1', 'DOPEY2', 'TTC3',
       'MX1', 'NDUFV3', 'SUMO3'],
      dtype='object', length=609) in column: AAACCTGAGCATCATC
Found value 1 at index: Index(['UBE4B', 'EFHD2', 'SZRD1', 'PNRC2', 'PAQR7', 'ZNF593', 'HMGN2',
       'AL360012.1', 'RBBP4', 'EVA1B',
       ...
       'PIM3', 'TYMP', 'ATP5PF', 'BACH1', 'EVA1C', 'IFNAR1', 'IFNGR2',
       'AP001437.1', 'NDUFV3', 'MT-ND4L'],
      dtype='object', length=575) in column: AAACCTGAGCTAACTC
Found value 1 at index: Index(['ISG15', 'MRPL20', 'SSU72', 'NADK', 'SKI', 'TNFRSF14-AS1', 'NOL9',
       'CAMTA1', 'PARK7', 'KIAA2013',
       ...
       'TRABD', 'TYMP', 'USP16', 'CCT8', 'IFNAR1', 'HMGN1', 'UBASH3A', 'PRMT2',
       'MT-ATP6', 'MT-ND4L'],
      dtype='object', length=886) in column: AAACCTGAGCTAGTGG
Found value 1 at index: Index(['SDF4', 'UBE2J2', 'WRAP73', 'TNFRSF25', 'CAMTA1', 'PARK7', 'PGD',
       'SDHB', 'CDC42', 'SRSF10',
       ...
       'SOD1', 'TTC3', 'PSMG1', 'HMGN1', 'PRDM15', 'CSTB', 'ITGB2-AS1',
       'MCM3AP', 'MT-ND6', 'MT-CYB'],
      dtype='object', length=617) in column: AAACCTGCACATTAGC
Found value 1 at index: Index(['AURKAIP1', 'ICMT', 'DNAJC11', 'PARK7', 'ENO1', 'KIF1B', 'AGTRAP',
       'MTHFR', 'CLCN6', 'EFHD2',
       ...
       'SAMSN1', 'CCT8', 'IFNAR2', 'IFNGR2', 'DONSON', 'MRPS6', 'NDUFV3',
       'CSTB', 'ICOSLG', 'AP001059.3'],
      dtype='object', length=982) in column: AAACCTGCACTGTTAG
Found value 1 at index: Index(['NOC2L', 'SDF4', 'ACOT7', 'CAMTA1', 'RBP7', 'AGTRAP', 'TNFRSF1B',
       'IFFO2', 'AKR7A2', 'HMGCL',
       ...
       'LTN1', 'OLIG1', 'IFNAR1', 'TMEM50B', 'SON', 'TTC3', 'PSMG1', 'SUMO3',
       'ITGB2-AS1', 'DIP2A'],
      dtype='object', length=965) in column: AAACCTGCATAGTAAG
Found value 1 at index: Index(['PARK7', 'ENO1', 'PIK3CD', 'SPEN', 'AKR7A2', 'PITHD1', 'RUNX3', 'STMN1',
       'HMGN2', 'WASF2',
       ...
       'ALG12', 'CRELD2', 'NRIP1', 'ATP5PF', 'USP16', 'BACH1-AS1', 'TIAM1',
       'ATP5PO', 'TTC3', 'YBEY'],
      dtype='object', length=856) in column: AAACCTGCATGAACCT
Found value 1 at index: Index(['AURKAIP1', 'SSU72', 'AL691432.2', 'CAMTA1', 'SLC25A33', 'LZIC',
       'EXOSC10', 'MFN2', 'MIIP', 'BX284668.5',
       ...
       'PRR5', 'NUP50', 'USP16', 'CCT8', 'SOD1', 'HMGN1', 'CSTB', 'UBE2G2',
       'PRMT2', 'AL592183.1'],
      dtype='object', length=984) in column: AAACCTGGTAAGAGGA
Found value 1 at index: Index(['SDF4', 'MIB2', 'TNFRSF14', 'DFFA', 'MAD2L2', 'PLOD1', 'MFN2', 'PRDM2',
       'EFHD2', 'PLEKHM2',
       ...
       'ATP5PO', 'CBR1', 'HLCS', 'TRAPPC10', 'PFKL', 'SUMO3', 'POFUT2',
       'SLC19A1', 'PRMT2', 'MT-ND4L'],
      dtype='object', length=1016) in column: AAACCTGGTAGAAGGA
Found value 1 at index: Index(['SDF4', 'CPTP', 'CDK11A', 'CLSTN1', 'DFFA', 'BX284668.5', 'MRTO4',
       'CDC42', 'SYF2', 'RSRP1',
       ...
       'CCT8', 'AP000251.1', 'IFNAR1', 'MRPS6', 'SLC5A3', 'TTC3', 'HMGN1',
       'SUMO3', 'MT-ND4L', 'AC007325.4'],
      dtype='object', length=765) in column: AAACCTGGTCCAGTGC
Found value 1 at index: Index(['SSU72', 'NECAP2', 'CAPZB', 'MINOS1', 'PITHD1', 'STMN1', 'NUDC',
       'SYTL1', 'SRSF4', 'LAPTM5',
       ...
       'TYMP', 'USP25', 'C21orf91', 'ATP5PF', 'IFNAR1', 'ATP5PO', 'CBR1',
       'HMGN1', 'CSTB', 'ITGB2'],
      dtype='object', length=828) in column: AAACCTGGTGTCTGAT
Found value 1 at index: Index(['SSU72', 'NADK', 'GNB1', 'KCNAB2', 'ZBTB48', 'THAP3', 'PIK3CD',
       'CLSTN1', 'MAD2L2', 'AGTRAP',
       ...
       'IFNAR1', 'SON', 'MRPS6', 'RCAN1', 'CBR1', 'HMGN1', 'SUMO3',
       'AL844908.1', 'SPATC1L', 'MT-ND4L'],
      dtype='object', length=1149) in column: AAACCTGGTTTGCATG
Found value 1 at index: Index(['NOC2L', 'SDF4', 'FO704657.1', 'AL139246.3', 'WRAP73', 'CAMTA1', 'ENO1',
       'PIK3CD', 'CLSTN1', 'MAD2L2',
       ...
       'BRWD1', 'HMGN1', 'CSTB', 'C21orf2', 'UBE2G2', 'SUMO3', 'COL18A1',
       'PRMT2', 'MT-ND4L', 'MT-ND5'],
      dtype='object', length=1069) in column: AAACCTGGTTTGTTTC
Found value 1 at index: Index(['INTS11', 'AURKAIP1', 'CDK11B', 'KCNAB2', 'VAMP3', 'ENO1', 'SLC25A33',
       'FBXO44', 'MIIP', 'EFHD2',
       ...
       'IFNGR2', 'MRPS6', 'DYRK1A', 'BRWD1', 'MX2', 'NDUFV3', 'GATD3A',
       'SUMO3', 'PTTG1IP', 'PRMT2'],
      dtype='object', length=944) in column: AAACCTGTCCGTTGCT
Found value 1 at index: Index(['FAAP20', 'CAMTA1', 'ENO1', 'PIK3CD', 'AGTRAP', 'CLCN6', 'MFN2',
       'EFHD2', 'UBR4', 'MINOS1',
       ...
       'ATP5PF', 'APP', 'AF165147.1', 'URB1', 'MRPS6', 'MX2', 'MX1', 'PTTG1IP',
       'PRMT2', 'MT-ND4L'],
      dtype='object', length=998) in column: AAACCTGTCCTGTAGA
Found value 1 at index: Index(['NOC2L', 'AURKAIP1', 'MRPL20', 'ATAD3B', 'RER1', 'H6PD', 'TARDBP',
       'EXOSC10', 'FBXO44', 'PLOD1',
       ...
       'CBR1', 'CBR3', 'DYRK1A', 'BRWD1', 'HMGN1', 'MX1', 'CSTB', 'COL18A1',
       'YBEY', 'MT-ND6'],
      dtype='object', length=948) in column: AAACCTGTCGCCAAAT
Found value 1 at index: Index(['NOC2L', 'CCNL2', 'NADK', 'RER1', 'NOL9', 'PARK7', 'UBE4B', 'TARDBP',
       'EFHD2', 'CAPZB',
       ...
       'IFNGR2', 'SON', 'MRPS6', 'ETS2', 'HMGN1', 'WRB', 'GATD3A', 'ITGB2',
       'ADARB1', 'MT-ND4L'],
      dtype='object', length=909) in column: AAACCTGTCGTGGACC
Found value 1 at index: Index(['MIB2', 'SLC35E2B', 'NOL9', 'CAMTA1', 'PIK3CD', 'PEX14', 'AGTRAP',
       'MRTO4', 'MINOS1', 'RCAN3',
       ...
       'ATP5PO', 'MRPS6', 'HMGN1', 'PKNOX1', 'CSTB', 'RRP1', 'ITGB2', 'MT-ND1',
       'MT-ND4L', 'MT-CYB'],
      dtype='object', length=831) in column: AAACCTGTCTACCAGA
Found value 1 at index: Index(['TNFRSF18', 'UBE2J2', 'SLC35E2B', 'ICMT', 'ZBTB48', 'VAMP3', 'PARK7',
       'HP1BP3', 'HNRNPR', 'RCAN3',
       ...
       'ATP5PF', 'CCT8', 'SOD1', 'SCAF4', 'TMEM50B', 'SON', 'BRWD1', 'MX2',
       'CSTB', 'ITGB2'],
      dtype='object', length=1079) in column: AAACCTGTCTCAAGTG
Found value 1 at index: Index(['FAM41C', 'SSU72', 'AL691432.2', 'CDK11B', 'ICMT', 'PARK7', 'CLSTN1',
       'PGD', 'FBXO6', 'MAD2L2',
       ...
       'ATP5PO', 'MRPS6', 'SMIM11A', 'RUNX1', 'RRP1B', 'PDXK', 'TRPM2',
       'ITGB2', 'PCNT', 'MT-ND4L'],
      dtype='object', length=1122) in column: AAACCTGTCTCGCTTG
Found value 1 at index: Index(['NOC2L', 'SDF4', 'AURKAIP1', 'SSU72', 'ACOT7', 'ENO1', 'AGMAT', 'SDHB',
       'PITHD1', 'SRRM1',
       ...
       'C21orf62-AS1', 'TMEM50B', 'GART', 'SON', 'ATP5PO', 'MRPS6', 'TTC3',
       'ETS2', 'CSTB', 'MT-ND5'],
      dtype='object', length=772) in column: AAACCTGTCTGCGGCA
Found value 1 at index: Index(['C1orf159', 'B3GALT6', 'UBE2J2', 'CCNL2', 'MRPL20', 'SSU72', 'RER1',
       'PEX10', 'THAP3', 'VAMP3',
       ...
       'OLIG1', 'IL10RB-DT', 'IFNGR2', 'MRPS6', 'TTC3', 'PSMG1', 'ZBTB21',
       'DIP2A', 'MT-ND4L', 'AL592183.1'],
      dtype='object', length=1356) in column: AAACGGGAGCCTCGTG
Found value 1 at index: Index(['NADK', 'AL139246.5', 'ENO1', 'CAPZB', 'CDC42', 'TCEA3', 'RSRP1',
       'MACO1', 'AL606491.1', 'AL031280.1',
       ...
       'SUN2', 'GRAP2', 'Z82206.1', 'XRCC6', 'SMDT1', 'TCF20', 'ATP5PF',
       'SOD1', 'LINC00649', 'BRWD1'],
      dtype='object', length=651) in column: AAACGGGAGGTGTGGT
Found value 1 at index: Index(['NOC2L', 'HES4', 'ISG15', 'MRPL20', 'AL645728.1', 'LRRC47', 'VAMP3',
       'PARK7', 'KIF1B', 'SRM',
       ...
       'SOD1', 'SCAF4', 'IFNAR2', 'IFNGR2', 'SON', 'MX1', 'PKNOX1', 'SUMO3',
       'MT-ND4L', 'MT-ND6'],
      dtype='object', length=871) in column: AAACGGGAGTACGATA
Found value 1 at index: Index(['SSU72', 'CDK11B', 'PLCH2', 'CAMTA1', 'PARK7', 'CLSTN1', 'PGD',
       'FBXO44', 'SZRD1', 'AKR7A2',
       ...
       'CRYZL1', 'MRPS6', 'TTC3', 'BRWD1', 'PFKL', 'SUMO3', 'YBEY', 'PRMT2',
       'MT-ATP8', 'MT-ND6'],
      dtype='object', length=744) in column: AAACGGGCACCTCGGA
Found value 1 at index: Index(['PUSL1', 'GNB1', 'LRRC47', 'LZIC', 'RBP7', 'HP1BP3', 'CDC42', 'SRRM1',
       'NUDC', 'YTHDF2',
       ...
       'TSPO', 'ATXN10', 'CRELD2', 'LMF2', 'ATP5PF', 'IFNGR2', 'MRPS6', 'TTC3',
       'TRAPPC10', 'MT-ND6'],
      dtype='object', length=811) in column: AAACGGGCACGAAACG
Found value 1 at index: Index(['ATAD3B', 'MIB2', 'TNFRSF14', 'CAMTA1', 'ENO1', 'EFHD2', 'AL450998.2',
       'CAPZB', 'HNRNPR', 'TMEM50A',
       ...
       'SCAF4', 'CFAP298', 'IFNAR1', 'IFNGR2', 'SON', 'TTC3', 'PSMG1',
       'SLC37A1', 'MT-ND1', 'MT-ND4L'],
      dtype='object', length=716) in column: AAACGGGCAGTAAGAT
Found value 1 at index: Index(['SDF4', 'PUSL1', 'MRPL20', 'AL645728.1', 'GNB1', 'TNFRSF14', 'PARK7',
       'FBXO6', 'MAD2L2', 'VPS13D',
       ...
       'SOD1', 'CFAP298', 'VPS26C', 'NDUFV3', 'GATD3A', 'UBE2G2', 'SUMO3',
       'PTTG1IP', 'MCM3AP', 'PCNT'],
      dtype='object', length=1039) in column: AAACGGGGTACAGTTC
Found value 1 at index: Index(['SDF4', 'PUSL1', 'INTS11', 'CPTP', 'AURKAIP1', 'SSU72', 'CDK11B',
       'FAAP20', 'TNFRSF14', 'FAM213B',
       ...
       'ATP5PF', 'USP16', 'MAP3K7CL', 'SCAF4', 'MRPS6', 'BRWD1', 'RRP1',
       'PFKL', 'COL6A1', 'MT-ND4L'],
      dtype='object', length=1179) in column: AAACGGGGTACCCAAT
Found value 1 at index: Index(['SDF4', 'AURKAIP1', 'CDK11A', 'LRRC47', 'DFFB', 'ENO1', 'MINOS1',
       'MUL1', 'ZBTB40', 'RCAN3',
       ...
       'SAMSN1', 'APP', 'USP16', 'CFAP298', 'CRYZL1', 'ATP5PO', 'MRPS6',
       'PTTG1IP', 'PRMT2', 'MT-ND4L'],
      dtype='object', length=650) in column: AAACGGGGTAGCTTGT
Found value 1 at index: Index(['NOC2L', 'THAP3', 'CAMTA1', 'VAMP3', 'LZIC', 'CAPZB', 'CDC42', 'MDS2',
       'PNRC2', 'RCAN3',
       ...
       'PPP6R2', 'TYMP', 'AP001347.1', 'CCT8', 'SCAF4', 'IFNAR1', 'ATP5PO',
       'BRWD1', 'RRP1B', 'PRMT2'],
      dtype='object', length=794) in column: AAACGGGGTGCGCTTG
Found value 1 at index: Index(['ISG15', 'SDF4', 'NADK', 'TNFRSF14', 'ENO1', 'CTNNBIP1', 'SRM', 'MIIP',
       'EFHD2', 'SZRD1',
       ...
       'SBF1', 'TYMP', 'ODF3B', 'ATP5PF', 'USP16', 'ATP5PO', 'PIGP', 'HMGN1',
       'CSTB', 'PFKL'],
      dtype='object', length=658) in column: AAACGGGTCAGGATCT
Found value 1 at index: Index(['HES4', 'SDF4', 'AURKAIP1', 'SSU72', 'FAAP20', 'RER1', 'H6PD', 'PGD',
       'AGTRAP', 'UBR4',
       ...
       'BACH1', 'IFNGR2', 'SON', 'MX2', 'MX1', 'GATD3A', 'PFKL', 'ADARB1',
       'YBEY', 'MT-ND4L'],
      dtype='object', length=893) in column: AAACGGGTCCAAAGTC
Found value 1 at index: Index(['NOC2L', 'ISG15', 'MIB2', 'CDK11A', 'GNB1', 'RER1', 'FAM213B', 'KCNAB2',
       'DNAJC11', 'VAMP3',
       ...
       'OLIG1', 'IFNAR2', 'TMEM50B', 'GART', 'CRYZL1', 'TTC3', 'AATBC',
       'GATD3A', 'PFKL', 'PTTG1IP'],
      dtype='object', length=1696) in column: AAACGGGTCCCTCAGT
Found value 1 at index: Index(['AURKAIP1', 'MRPL20', 'AL691432.2', 'CDK11B', 'NECAP2', 'DDOST',
       'HNRNPR', 'RCAN3', 'SRRM1', 'RUNX3',
       ...
       'PARVG', 'TTC38', 'PIM3', 'C21orf91', 'CCT8', 'SOD1', 'IL10RB', 'PSMG1',
       'HMGN1', 'POFUT2'],
      dtype='object', length=757) in column: AAACGGGTCCGTTGTC
Found value 1 at index: Index(['ISG15', 'SSU72', 'FAAP20', 'TPRG1L', 'PARK7', 'CLSTN1', 'CLCN6',
       'MINOS1', 'HNRNPR', 'MDS2',
       ...
       'MEI1', 'PRR5', 'CERK', 'ZBED4', 'ATP5PF', 'SOD1', 'SON', 'PSMG1',
       'PRMT2', 'MT-ND4L'],
      dtype='object', length=833) in column: AAACGGGTCTCTGTCG
Found value 1 at index: Index(['AL669831.5', 'NOC2L', 'TNFRSF4', 'SDF4', 'UBE2J2', 'INTS11', 'ATAD3C',
       'MIB2', 'MMP23B', 'FAAP20',
       ...
       'HMGN1', 'ABCG1', 'NDUFV3', 'U2AF1', 'RRP1B', 'PFKL', 'UBE2G2',
       'POFUT2', 'PRMT2', 'MT-ND6'],
      dtype='object', length=1581) in column: AAACGGGTCTTCTGGC
Found value 1 at index: Index(['PARK7', 'LINC01772', 'SRSF10', 'RCAN3', 'ARID1A', 'XKR8', 'ATP5IF1',
       'EPB41', 'KHDRBS1', 'LCK',
       ...
       'NDUFA6', 'POLDIP3', 'TRABD', 'LINC01684', 'ATP5PF', 'APP', 'ATP5PO',
       'ITGB2', 'ITGB2-AS1', 'PRMT2'],
      dtype='object', length=454) in column: AAAGATGAGCGCTCCA
Found value 1 at index: Index(['NOC2L', 'ISG15', 'MRPL20', 'SSU72', 'TNFRSF25', 'PARK7', 'ENO1',
       'PRDM2', 'CAPZB', 'DDOST',
       ...
       'CCT8', 'SOD1', 'IL10RB-DT', 'SON', 'MRPS6', 'TTC3', 'DYRK1A',
       'TRAPPC10', 'ITGB2', 'MT-ND3'],
      dtype='object', length=991) in column: AAAGATGAGGGTTTCT
Found value 1 at index: Index(['ISG15', 'CPTP', 'KCNAB2', 'ZBTB48', 'SRM', 'UBR4', 'AKR7A2', 'CAPZB',
       'DDOST', 'GALE',
       ...
       'SMDT1', 'SAMM50', 'FAM118A', 'LMF2', 'USP25', 'SLC5A3', 'CSTB',
       'SPATC1L', 'MT-ATP6', 'MT-ND3'],
      dtype='object', length=711) in column: AAAGATGAGTACGATA
Found value 1 at index: Index(['AURKAIP1', 'MRPL20', 'PARK7', 'RERE', 'PGD', 'AGTRAP', 'MFN2', 'CDA',
       'SRSF10', 'SRRM1',
       ...
       'PHF5A', 'CRELD2', 'BACH1', 'SYNJ1', 'IL10RB-DT', 'IFNGR2', 'ETS2',
       'SLC37A1', 'NDUFV3', 'AATBC'],
      dtype='object', length=1129) in column: AAAGATGAGTGCAAGC
Found value 1 at index: Index(['ISG15', 'CPTP', 'MRPL20', 'SSU72', 'PRKCZ', 'ENO1', 'DFFA', 'MAD2L2',
       'ARHGEF19', 'BX284668.5',
       ...
       'SAMSN1', 'APP', 'IFNAR1', 'CRYZL1', 'RCAN1', 'PKNOX1', 'U2AF1',
       'C21orf58', 'PRMT2', 'MT-ND6'],
      dtype='object', length=1056) in column: AAAGATGCACCCTATC
Found value 1 at index: Index(['UBE2J2', 'GNB1', 'UBIAD1', 'SPEN', 'ATP13A2', 'GALE', 'PNRC2',
       'SRSF10', 'STMN1', 'ARID1A',
       ...
       'IFNGR2', 'SON', 'TTC3', 'AP001412.1', 'HMGN1', 'MX1', 'ZBTB21',
       'RRP1B', 'FAM207A', 'DIP2A'],
      dtype='object', length=828) in column: AAAGATGCACTTAAGC
Found value 1 at index: Index(['RER1', 'ZBTB48', 'PARK7', 'MTHFR', 'CDC42', 'KDM1A', 'HNRNPR', 'ID3',
       'SRSF10', 'SRRM1',
       ...
       'ATP5PF', 'IFNGR2', 'GART', 'MRPS6', 'ETS2', 'PDE9A', 'CSTB', 'PFKL',
       'SUMO3', 'MT-ND6'],
      dtype='object', length=896) in column: AAAGATGCAGCGAACA
Found value 1 at index: Index(['NADK', 'FAAP20', 'SKI', 'TNFRSF14', 'CAMTA1', 'PARK7', 'ENO1', 'PEX14',
       'FBXO44', 'RCC2',
       ...
       'NDUFA6', 'CERK', 'PPP6R2', 'MRPL39', 'CCT8', 'ATP5PO', 'BRWD1', 'CSTB',
       'YBEY', 'AL592183.1'],
      dtype='object', length=1040) in column: AAAGATGCATGCCTTC
Found value 1 at index: Index(['ISG15', 'TNFRSF4', 'INTS11', 'SSU72', 'CDK11B', 'PANK4', 'WRAP73',
       'TNFRSF9', 'H6PD', 'SPSB1',
       ...
       'IFNAR1', 'SON', 'ATP5PO', 'MRPS6', 'CBR1', 'UBASH3A', 'SLC37A1',
       'RRP1B', 'FAM207A', 'PRMT2'],